brokers:
  {% for broker in brokers %}
  - name: "{{ broker.name }}"
    type: "{{ broker.__class__.__name__.replace('Broker', '').upper() }}"
    topics:
      {% for topic in topics %}
      - "{{ topic }}"
      {% endfor %}
    broker_connection_parameters:
      host: "{{ broker.host }}"
      port: {{ broker.port }}
      {% if broker.auth %}
      username: "{{ broker.auth.username}}"
      password: "{{ broker.auth.password}}"
      {% endif %}
  {% endfor %}

websocket:
  host: "0.0.0.0"
  port: {{ websocket.port }}
  {% if websocket.auth %}
  username: "{{ websocket.auth.username}}"
  password: "{{ websocket.auth.password}}"
{% endif %}
