{% set brokerType = "MQTT" if broker.__class__.__name__ == "MQTTBroker" 
   else "AMQP" if broker.__class__.__name__ == "AMQPBroker" 
   else "REDIS" if broker.__class__.__name__ == "RedisBroker" 
   else "Unknown" %}

broker_info:
    name: "{{broker.name}}"
    type: "{{brokerType}}"
    topics:
{% for topic in topics %}
        - "{{topic}}"
{% endfor %}

broker_connection_parameters:
    host: "{{broker.host}}"
    port: {{broker.port}}

websocket:
{# the backend needs to listen to all #}
    host: "0.0.0.0"
    port: {{websocket.port}}
