mysql:
{% for db in mysql_databases %}
  - name: {{ db.name }}
    host: {{ db.host }}
    port: {{ db.port }}
    user: {{ db.auth.username }}
    password: {{ db.auth.password }}
    allowed_roles: [
      {% for role in db.allowed_roles %}
      "{{role.name}}",
      {% endfor %}
    ]
{% endfor %}

mongo:
{% for db in mongo_databases %}
  - name: {{ db.name }}
    host: {{ db.host }}
    port: {{ db.port }}
    user: {{ db.auth.username }}
    password: {{ db.auth.password }}
    database: {{ db.database }}
    allowed_roles: [
      {% for role in db.allowed_roles %}
      "{{role.name}}",
      {% endfor %}
    ]
{% endfor %}