{% for api in all_rest_apis%}
{{api.name}}:
    host: {{api.host}}
    port: {{api.port}}
    headers: {{api.headers}}
    auth: {{api.auth}}
    related_endpoints_roles: {
        {% for endpoint in all_rest_endpoints %}
        {% if endpoint.connection.name == api.name %}
            "{{endpoint.path}}": [
            {% for role in endpoint.allowed_roles %}
                "{{role.name}}",
            {% endfor %}
            ]
        {% endif%}
        {% endfor%}
    }
{% endfor %}

