import React from 'react';
import { BrowserRouter as Router, Route, Routes, Link } from 'react-router-dom';
{% for screen in screens %}
import {{ screen.name }} from './{{ screen.name }}';
{% endfor %}

const App = () => {
  return (
    <Router>
        <nav>
          <ul>
          {% for screen in screens %}
            <li>
              <Link to="{{ screen.url | lower }}">{{ screen.title }}</Link>
            </li>
          {% endfor %}
          </ul>
        </nav>
        <Routes>
          {% for screen in screens %}
          <Route path="{{ screen.url | lower }}" element={<{{ screen.name }} />} />
          {% endfor %}
        </Routes>
    </Router>
  );
}

export default App;
