{% macro render_element(element) -%}
    {% if element.__class__.__name__ == 'Row' %}
    <div class="row">
        {% for child in element.elements %}
        {{ render_element(child) }}
        {% endfor %}
    </div>
    {% elif element.__class__.__name__ == 'Column' %}
    <div class="col">
        {% for child in element.elements %}
        {{ render_element(child) }}
        {% endfor %}
    </div>
    {% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ screen.title }}</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            background-color: #252423;
            color: #ddc7a1;
            display: flex; 
            flex-direction: column; 
            height: 100vh;
            margin: 0;
        }

        .screen-container {
            flex: 1; 
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            min-height: 0;
            height: 100%; 
        }

        h1, p {
            margin: 0 0 10px 0; 
        }

        .row {
            flex: 1; 
            display: flex;
            gap: 10px; 
            background-color: #3c3836;
            border: 1px solid #7daea3;
            padding: 5px;
            min-height: 0; 
            height: 100%
        }

        .col {
            flex: 1; 
            min-width: 0; 
            border: 1px solid #ea6962;
            padding: 10px;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    </style>    
</head>
<body>
    <div class="screen-container">
        <h1>{{ screen.title }}</h1>
        {% if screen.description %}
        <p>{{ screen.description }}</p>
        {% endif %}
        {% for element in screen.elements %}
            {{ render_element(element) }}
        {% endfor %}
    </div>
</body>
</html>