{% macro render_element(element) -%}
    {% if element.__class__.__name__ == 'Row' %}
    <div class="row">
        {% for child in element.elements %}
        {{ render_element(child) }}
        {% endfor %}
    </div>
    {% elif element.__class__.__name__ == 'Column' %}
    <div class="col">
        {% for child in element.elements %}
        {{ render_element(child) }}
        {% endfor %}
    </div>
    {% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ screen.title }}</title>
    <style>
        .row {
            width: 100%;
            height: 300px;
            border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .col {
            width: 100%;
            height: 100%;
            background-color: blue;
            border: 2px solid green;

        }
    </style>    
</head>
<body>
    <div>
        <h1>{{ screen.title }}</h1>
        {% if screen.description %}
        <p>{{ screen.description }}</p>
        {% endif %}
        {% for element in screen.elements %}
            {{ render_element(element) }}
        {% endfor %}
    </div>
</body>
</html>