{% macro render_element(element) -%}
    {% if element.__class__.__name__ == 'Row' %}
    <div className="row">
        {% for child in element.elements %}
        {{ render_element(child) }}
        {% endfor %}
    </div>
    {% elif element.__class__.__name__ == 'Column' %}
    <div className="col">
        {% for child in element.elements %}
        {{ render_element(child) }}
        {% endfor %}
    </div>
    {% endif %}
{%- endmacro %}

const {{screen.name}} = () => {
    return (
        <>
            <h1>{{ screen.title }}</h1>
            {% if screen.description %}
            <p>{{ screen.description }}</p>
            {% endif %}
            {% for element in screen.elements %}
                {{ render_element(element) }}
            {% endfor %}
        </>
    )
}

export default {{screen.name}}