import {
    CartesianGrid,
    Legend,
    Line,
    LineChart,
    Tooltip,
    XAxis,
    YAxis
} from "recharts";
import { WebsocketContext } from "../context/WebsocketContext";
import { useWebsocket } from "../hooks/useWebsocket";
import { useContext, useState } from "react";

export const CustomLineChart = () => {
    const [data, setData] = useState([]);
    const ws = useContext(WebsocketContext);

    useWebsocket(ws, "{{element.topic}}", (msg) => {
        setData([...data, msg.data]);
    });

    return (
        {% raw %}
        <LineChart data={data} width={500} height={300}>
            <CartesianGrid stroke="#3c3836" strokeDasharray="3 3" />
        {% endraw %}

            <XAxis 
                dataKey="{{chart.xDataKey}}" 
                stroke="#ebdbb2"
                label={% raw %} {{ {% endraw%} 
                    value: "{{chart.xLabel}}", 
                    position: "insideBottom", 
                    offset: -5, 
                    fill: "#ebdbb2"
                    {% raw %} }} {% endraw%}  
            />
        
            <YAxis 
                stroke="#ebdbb2" 
                label={% raw %} {{ {% endraw%} 
                    value: "{{chart.yLabel}}", 
                    position: "insideBottom", 
                    offset: -5, 
                    fill: "#ebdbb2"
                    {% raw %} }} {% endraw%}  
            />
        {% raw %}
            <Tooltip
                contentStyle={{ 
                    backgroundColor: "#282828",
                    border: "none",
                    color: "#ebdbb2",
                    borderRadius: "10px"
                }}
                itemStyle={{ color: "#ebdbb2" }}
            />
            <Line
                isAnimationActive={false}
                type="monotone"
        {% endraw%}
                dataKey="{{chart.yDataKey}}"
        {% raw %}
            
                stroke="#fabd2f"
                strokeWidth={2}
                dot={{ fill: "#fabd2f" }}
            />
        </LineChart>
        {% endraw %}
    );
};
