@import "tailwindcss";

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}

body {
    background-color: #252423;
    color: #ddc7a1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    height: fit-content;
}

.screen-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: calc(
        100vh - (56px + 10px)
    ); /* 60px is the height of the nav + 10 of the gap */
    overflow: auto;
}

h1,
p {
    margin: 0 0 10px 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #3c3836;
    border: 1px solid #7daea3;
    padding: 5px;
    width: 100%;
    height: auto;
}

.column {
    border: 1px solid #ea6962;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.btn {
    background-color: #b16286;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    background-color: #3c3836;
    border: 1px solid #ddc7a1;
    padding: 0.5rem 1rem;
    color: #ddc7a1;
    border-radius: 5px;
}
