import { BrowserRouter as Router, Route, Routes, Link } from 'react-router-dom';
import {ToastContainer, Bounce} from 'react-toastify';
{% for screen in screens %}
import {{ screen.name }} from './screens/{{ screen.name }}';
{% endfor %}

{% if webpage.navbar %}
import NavBar from "./components/NavBar";
{% endif %}

import { WebsocketProvider } from "./context/WebsocketContext";

const basePath = window.__BASE_PATH__ || "/";

const App = () => {
  return (
    <WebsocketProvider>
      <div className="app-container">
        <Router basename={basePath}>
            {% if webpage.navbar %}
              <NavBar
                screens={[
                  {% for screen in screens %}
                  {url: "{{screen.url}}", title: "{{screen.title}}" },
                  {% endfor %}
                ]}/>
            {% endif %}
            
            <Routes>
              {% for screen in screens %}
              <Route path="{{ screen.url | lower }}" element={<{{ screen.name }} />} />
              {% endfor %}
            </Routes>
        </Router>
      </div> 
      <ToastContainer
                    position="bottom-right"
                    autoClose={5000}
                    hideProgressBar={true}
                    newestOnTop={false}
                    closeOnClick={false}
                    rtl={false}
                    pauseOnFocusLoss
                    draggable
                    pauseOnHover
                    theme="dark"
                    transition={Bounce}
                    limit={4}
      />
    </WebsocketProvider>

  );
}

export default App;
