
{% macro render_element(element, row_parent=True) %}
    {% if element.__class__.__name__ == 'Row' %}
            {% if row_parent %}
                <div className="row row-parent">
            {% else %}
                <div className="row row-child">
            {% endif %}
                {% for child in element.elements %}                    
                    {{ render_element(child, row_parent=False) }}
                {% endfor %}
            </div>
        
    {% elif element.__class__.__name__ == 'Column'%}
            <div className="column">
                {% for child in element.elements %}
                    {{ render_element(child, row_parent=False) }}
                {% endfor %}
            </div>

    {% elif element.__class__.__name__ == 'Link'%}
            <a href="{{element.url}}">{{element.text}}</a>
    {% elif element.__class__.__name__ == 'ComponentRef'%}
        {{ render_element(element.ref) }}
    
    {% elif element.isComponent %}
        
        {% set sourceOfContent = element.sourceOfContent %}
        {% set entity = element.entity %}
        {% if element.type %}
            {% set type = element.type %}
        {% else %}
            {% set type = element %}
        {% endif %}

        {% if element.allowed_roles and element.allowed_roles|length > 0 %}
        <ProtectedComponent allowedRoles={[ 
            {% for role in element.allowed_roles %}
                  "{{role.name}}",
            {% endfor %}
        ]}>
        {% endif %}
        {% if type.name=="Gauge"%}
            <Gauge 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                sourceOfContent={"{{sourceOfContent}}"} 
                staticValue={ {{type.value_static}} }
                {% if type.value %}
                    contentPath={ {{type.value}} }
                {% endif %}
                {% if type.description%}
                    description={ "{{type.description}}" }
                {% endif %}
            />
        
        {% elif type.name=="LineChart"%}

            <CustomLineChart 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                xLabel={"{{type.xLabel}}"} 
                yLabel={"{{type.yLabel}}"} 
                sourceOfContent={"{{sourceOfContent}}"}
                {% if type.staticData %}
                    xValue={"{{type.xValue_static}}"}
                    yValues={[ {% for item in type.yValues_static %}
                                "{{item}}",
                            {% endfor %}  ]}
                    staticChartData={ [ 
                        {% for group in type.staticData.items %}
                            {   
                                {% for dictItem in group.items %}
                                    "{{ dictItem.name }}": "{{ dictItem.value }}"{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            }{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ] }
                {% else %}
                    xValue={ {{type.xValue}}}
                    yValues={ {{type.yValues}} }
                {% endif %}
                {% if type.description%}
                    description={ "{{type.description}}" }
                {% endif %}
            />

        {% elif type.name=="BarChart"%}

            <CustomBarChart 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                xLabel={"{{type.xLabel}}"} 
                yLabel={"{{type.yLabel}}"} 
                sourceOfContent={"{{sourceOfContent}}"}
                {% if type.staticData %}
                    xValue={"{{type.xValue_static}}"}
                    yValues={[ {% for item in type.yValues_static %}
                                "{{item}}",
                            {% endfor %}  ]}
                    staticChartData={ [ 
                        {% for group in type.staticData.items %}
                            {   
                                {% for dictItem in group.items %}
                                    "{{ dictItem.name }}": "{{ dictItem.value }}"{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            }{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ] }
                {% else %}
                    xValue={ {{type.xValue}}}
                    yValues={ {{type.yValues}} }
                {% endif %}
                {% if type.description%}
                    description={ "{{type.description}}" }
                {% endif %}
            />
        
        {% elif type.name=="PieChart"%}
            <CustomPieChart 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                sourceOfContent={"{{sourceOfContent}}"}
                {% if type.staticData %}
                    valuePath={ {{type.value_static}} }
                    namePath={ {{type.dataName_static}} }
                    staticChartData={ [ 
                        {% for group in type.staticData.items %}
                            {   
                                {% for dictItem in group.items %}
                                    "{{ dictItem.name }}": "{{ dictItem.value }}"{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            }{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ] }
                {% else %}
                    valuePath={ {{type.value}}}
                    namePath={ {{type.dataName}} }
                {% endif %}
                {% if type.description%}
                    description={ "{{type.description}}" }
                {% endif %}
            />
        {% elif type.name=="LiveTable"%}
            <LiveTable 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                columns={ {{type.columns}} }
            />

        {% elif type.name=="JsonViewer"%}
            <JsonViewer 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                topic={"{{topic}}"} 
                {% if type.attributes %}
                    attributes={ {{type.attributes}} }
                {% endif %}
                sourceOfContent={"{{sourceOfContent}}"} 
            />

        {% elif type.name=="Alive"%}
            <Alive 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                timeout={ {{type.timeout}} }
                {% if type.description%}
                    description={ "{{type.description}}" }
                {% endif %}
            />

        {% elif type.name=="Publish" %}
            {% if type.endpoint %}
                {% set publishRestData = {
                    "path": type.endpoint.path or '',
                    "method": type.endpoint.method or 'POST',
                    "headers":type.endpoint.headers or {},
                    "params": type.endpoint.params or {},
                } %}
            {% else %}
                {% set publishRestData = {} %}
            {% endif %}
            <Publish 
                {% if type.broker %}
                    brokerName={"{{type.broker.name}}"} 
                {% endif %}
                {% if type.endpoint %}
                    apiName={"{{type.endpoint.connection.name}}"} 
                {% endif %}
                {% if type.topic %}
                    destinationTopic={ "{{type.topic}}" }  
                {% endif %}
                {% if type.json %}
                    json={ {{type.json}} }
                {% endif %} 
                restData={ {{publishRestData}} }
                {% if type.description %}
                    description={ "{{type.description}}" }
                {% endif %}

            />

        {% elif type.name=="Notification" %}
            <LiveNotification
                type={"{{type.type}}"}
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                {% if type.message %}
                    contentPath={ {{type.message}} }
                {% endif %}
            />

        {% elif type.name=="Image" %}
            <CustomImage 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                width={ {{type.width}} }
                height={ {{type.height}} }
                sourceOfContent={"{{sourceOfContent}}"} 
                sourceStatic={"{{type.source_static}}"}
                {% if type.source %}
                    contentPath={ {{type.source}} }
                {% endif %}

            />

        {% elif type.name=="Text" %}
            <Text 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                size={ {{ type.size | default(18) }} }
                color={"{{type.color}}"}
                {% if type.weight %}
                weight={"{{type.weight}}"}
                {% endif %}
                sourceOfContent={"{{sourceOfContent}}"} 
                staticContent={"{{type.content_static}}"}
                {% if type.content %}
                    contentPath={ {{type.content}} }
                {% endif %}
            />

        {% elif type.name=="Logs" %}
            <Logs 
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                {% if type.attributes %}
                    attributes={ {{type.attributes}} }
                {% endif %}
            />

        {% elif type.name=="Table" %}
            {%if element.entity.source.connection.__class__.__name__ == "MongoDB" %}
                {%set dbType="mongo"%}
            {%elif element.entity.source.connection.__class__.__name__ == "MySQL" %}
                {%set dbType="mysql"%}
            {%else%}
                {% set dbType=""%}
            {%endif%}
            {% set dbData = {
                "connection_name": element.entity.source.connection.name or 'default',
                "database": element.entity.source.connection.database or '',
                "query": element.entity.source.query or {},
                "filter": element.entity.source.filter or {},
                "collection": element.entity.source.collection or '',
            } %}

            <Table
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                {% if type.attributes %}
                    attributes={ {{type.attributes}} }
                {% endif %}
                sourceOfContent={"{{sourceOfContent}}"} 
                dbData={ {{dbData}} }
                primaryKey={ "{{type.primary_key}}" }
                dbType={ "{{dbType}}" }
                {% if type.description %}
                    description={ "{{type.description}}" }
                {% endif %}
                {% if type.table%}
                    table={ "{{type.table}}" }
                {% endif %}
                crud = { "{{type.crud}}" }
            />
        
        {% elif type.name=="Form"%}
            {% set restData = {
                "name": element.entity.source.connection.name or 'default',
                "path": element.entity.source.path or '',
                "method": element.entity.source.method or 'GET',
                "params": element.entity.source.params or {},
            } %}
            <CustomForm
                elements={ {{type.elements}} }
                restData={ {{restData}} }
                {% if type.description %}
                    description={ "{{type.description}}" }
                {% endif %}
            />

        {% elif type.name=="ProgressBar"%}
            <ProgressBar
                {% if entity %}
                    entityData={ {{element.entity.name}}Data}
                {% endif %}
                sourceOfContent={"{{sourceOfContent}}"}
                {% if type.max !=None %}
                    max={ {{type.max}} }
                {% endif %}
                {% if type.max_static != None %}
                    maxStatic={ {{type.max_static}} }
                {% endif %}
                {% if type.value %}
                    contentPath={ {{type.value}} }
                {% endif %}
                {% if type.description %}
                    description={ "{{type.description}}" }
                {% endif %}
                staticValue={ {{type.value_static}} }
                {% if type.barColor %}
                    barColor={"{{type.barColor}}"}
                {% endif %}
                {% if type.trackColor %}
                    trackColor={"{{type.trackColor}}"}
                {% endif %}
                {% if type.textColor %}
                    textColor={"{{type.textColor}}"}
                {% endif %}
            />
        {% endif %}

    {% elif element.__class__.__name__ == 'Condition'%}
        <Condition
            allDataNeededFromEntities={ 
                {
                {% for entity in element.entities_list %}
                    {# Create a dictionary with all the entities screen data #}
                    {{entity.name}}: {{entity.name}}Data ,
                {% endfor %}
                }
            }
            condition={ {{element.condition}} }
            elements={ [ 
                {% for item in element.component %}
                {{ render_element(item) }},
                {% endfor %}] }
            elementsElse={ [ 
                {% for item in element.componentElse %}
                {{ render_element(item) }},
                {% endfor %}] }
        />

    {% elif element.__class__.__name__ == 'Repetition'%}
        {% set sourceOfContent = element.sourceOfContent %}

        <Repetition
            allDataNeededFromEntities={ 
                {
                {% for entity in element.entities_list %}
                    {# Create a dictionary with all the entities screen data #}
                    {{entity.name}}: {{entity.name}}Data ,
                {% endfor %}
                }
            }
            sourceOfContent="{{sourceOfContent}}"
            item={ {{element.item}} }
            element={ {{ render_element(element.component) }} }
            {% if element.data != None %}
                dataPath={ {{element.data}} }
                conditionDataPath={ {{element.data}} }
            {% endif %}
            {% if element.dataElse !=None %}
                dataElsePath={ {{element.dataElse}} }
            {% endif %}
            {% if element.condition %}
                condition ={ {{element.condition}} }
            {% endif %}
            {% if element.componentElse %}
                elementElse={ {{ render_element(element.componentElse) }} }
            {% endif %}
            orientation={"{{element.orientation}}" }
   
        />
    {% endif %}

    {% if element.allowed_roles and element.allowed_roles|length > 0 %}
    </ProtectedComponent>
    {% endif %}


{% endmacro %}