{% macro render_element(element, row_parent=True) %}
    {% if element.__class__.__name__ == 'Row' %}
            {% if row_parent %}
                <div className="row row-parent">
            {% else %}
                <div className="row row-child">
            {% endif %}
                {% for child in element.elements %}
                    {{ render_element(child, row_parent=False) }}
                {% endfor %}
            </div>
        
    {% elif element.__class__.__name__ == 'Column'%}
            <div className="column">
                {% for child in element.elements %}
                    {{ render_element(child, row_parent=False) }}
                {% endfor %}
            </div>
    {% elif element.__class__.__name__ == 'ComponentRef'%}
        {{ render_element(element.ref) }}
    
    {% elif element.isComponent %}
        {% set type = element.type %}
        {% set topic = element.entity.topic if element.entity else None%}

        {% if type.name=="Gauge"%}
            <Gauge topic={"{{topic}}"} attribute={ {name: "{{type.value.name}}", type: "{{type.value.__class__.__name__}}"  } } />
        
        {% elif type.name=="LineChart"%}

            <CustomLineChart 
                topic={"{{topic}}"} 
                xLabel={"{{type.xLabel}}"} 
                yLabel={"{{type.yLabel}}"} 
                attributes={[ { name: "{{type.xValue.name}}" ,  type: "{{type.value.__class__.__name__}}" },
                    {% for attr in type.yValues %}
                        {
                        name: "{{ attr.name }}",
                        type: "{{ attr.__class__.__name__ }}"
                        },
                    {% endfor %}    
                  ]}
            />

        {% elif type.name=="LiveTable"%}
            <LiveTable 
                topic={"{{topic}}"} 
                attributes={[ 
                    {% for attr in type.columns %}
                        {
                        name: "{{ attr.name }}",
                        type: "{{ attr.__class__.__name__ }}"
                        },
                    {% endfor %}    
                ]}
            />

        {% elif type.name=="JsonViewer"%}
            <JsonViewer 
                topic={"{{topic}}"} 
                attributes={[ 
                    {% for attr in type.attributes %}
                        {
                        name: "{{ attr.name }}",
                        type: "{{ attr.__class__.__name__ }}"
                        },
                    {% endfor %}    
                ]}
            />

        {% elif type.name=="Alive"%}
            <Alive 
                topic={"{{topic}}"} 
                timeout={ {{type.timeout}} }
            />

        {% elif type.name=="Publish" %}
            <Publish 
                brokerName={"{{type.broker.name}}"} 
                {% if type.topic %}
                    destinationTopic={ "{{type.topic}}" }  
                {% endif %}
                {% if type.json %}
                    json={ {{type.json}} }
                {% endif %} 
                />

        {% elif type.name=="Notification" %}
            <LiveNotification
                type={"{{type.type}}"}
                topic={"{{topic}}"} 
                attribute={ { name: "{{type.message.name}}" ,  type: "{{type.message.__class__.__name__}}"} }

            />

        {% elif type.name=="Image" %}
            <CustomImage 
                topic={"{{topic}}"} 
                source={ { name: "{{type.source.name}}" ,  type: "{{type.source.__class__.__name__}}" } }
                width={ {{type.width}} }
                height={ {{type.height}} }
            />

        {% elif type.name=="Text" %}
            <Text topic={"{{topic}}"} attribute={ { name: "{{type.content.name}}" ,  type: "{{type.content.__class__.__name__}}"} }/>

        {% elif type.name=="Logs" %}
            <Logs 
                topic={"{{topic}}"} 
                attributes={[ 
                    {% for attr in type.attributes %}
                        {
                        name: "{{ attr.name }}",
                        type: "{{ attr.__class__.__name__ }}"
                        },
                    {% endfor %}    
            ]}/>
        
        {% endif %}

    {% endif %}
{% endmacro %}