{% macro render_element(element, live_state=None, topic=None) %}
    {% if element.__class__.__name__ == 'LiveComponent' %}
        {{ render_element(element.definition, live_state=element.dataName, topic=element.topic) }}

    {% elif element.__class__.__name__ == 'p' %}
        <p>{% if live_state %}{{ '{' + live_state + '}' }}{% else %}{{ element.content }}{% endif %}</p>

    {% elif element.__class__.__name__ == 'Button' %}
        <button className="btn">{% if live_state %}{{ '{' + live_state + '}' }}{% else %}{{ element.text }}{% endif %}</button>

    {% elif element.__class__.__name__ == 'Image' %}
        <img className="w-{% if element.width %}[{{ element.width }}px]{% else %}full{% endif %} h-{% if element.height %}[{{ element.height }}px]{% else %}full{% endif %}" 
           src={ {% if live_state %}`data:image/png;base64,${ {{ live_state }}} `{% else %}{{ element.source }}{% endif %} } />

    {% elif element.__class__.__name__ == 'h1' %}
        <h1>{% if live_state %}{{ '{' + live_state + '}' }}{% else %}{{ element.content }}{% endif %}</h1>

    {% elif element.__class__.__name__ == 'h2' %}
        <h2>{% if live_state %}{{ '{' + live_state + '}' }}{% else %}{{ element.content }}{% endif %}</h2>

    {% elif element.__class__.__name__ == 'Form' %}
        <form name="{{ element.name }}">
            {% for child in element.elements %}
                {{ render_element(child, live_state=live_state) }}
            {% endfor %}
            <input type="submit"/>
        </form>

    {% elif element.__class__.__name__ == 'Input' %}
        <input type="{{ element.type }}" name="{{ element.name }}" placeholder="{{ element.placeholder }}" required="{{ element.required }}"/>

    {% elif element.__class__.__name__ == 'Label' %}
        <label htmlFor="{{ element.name }}">{% if live_state %}{{ '{' + live_state + '}' }}{% else %}{{ element.content }}{% endif %}</label>

    {% elif element.__class__.__name__ == 'LineChart' %}
        <CustomLineChart />
    
    {% elif element.__class__.__name__ == 'Logs' %}
        <Logs />
    
    {% elif element.__class__.__name__ == 'Gauge'%}
        <GaugeComponent value={ {{ live_state }} } />

    {% elif element.__class__.__name__ == 'JsonViewer'%}
        <div className="flex justify-center flex-col items-center p-4 w-fit bg-[#111828] rounded-2xl">
            <h1 className="mb-2 text-lg font-semibold text-gray-200">
                Watching {" "}
                <span className="text-pink-400">{{topic}}</span>
            </h1>
            <JsonView value={jsonData} style={customTheme} />
        </div>

    {% elif element.__class__.__name__ == 'Alive' %}
        <Alive />
    
    {% elif element.__class__.__name__ == 'Publish' %}
        <Publish brokerName={"{{element.ref.name}}"}/>

    {% elif element.__class__.__name__ == 'ReusableComponent' %}
        {{ render_element(element.ref.definition, live_state=live_state) }}
        
    {% elif element.__class__.__name__ in ('Row', 'Column') %}

        <div className="{{ element.__class__.__name__.lower() }}">
            {% for child in element.elements %}
                {{ render_element(child, live_state=live_state) }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}