{%import 'component_macros.jinja' as component_macros%}

{% macro live_component(element) -%}
const {{ element.name }} = () => {
    const [data, setData] = useState(null);
    const ws = useContext(WebsocketContext);
    const callBack = (msg) => {
        setData(msg);
    };
    useWebsocket(ws, "{{ element.topic }}", callBack);
    return (
        {{ render_element(element.definition, data) }}
    );
};
{%- endmacro %}