{%import 'component_macros.jinja' as component_macros%}

const {{screen.name}} = () => {
    return (
        <div className="screen-container">
            {% for element in screen.elements %}
                {{ component_macros.render_element(element) }}
            {% endfor %}
        </div>
    )
}

export default {{screen.name}}