import { BrowserRouter as Router, Route, Routes, Link } from 'react-router-dom';

{% for screen in screens %}
import {{ screen.name }} from './screens/{{ screen.name }}';
{% endfor %}

{% if webpage.navbar %}
import NavBar from "./components/NavBar";
{% endif %}

const basePath = window.__BASE_PATH__ || "/";

const App = () => {
  return (
    <div className="app-container">
      <Router basename={basePath}>
          {% if webpage.navbar %}
            <NavBar
              screens={[
                {% for screen in screens %}
                {url: "{{screen.url}}", title: "{{screen.title}}" },
                {% endfor %}
              ]}/>
          {% endif %}
          
          <Routes>
            {% for screen in screens %}
            <Route path="{{ screen.url | lower }}" element={<{{ screen.name }} />} />
            {% endfor %}
          </Routes>
      </Router>
    </div>
  );
}

export default App;
